.navbar {
    border: 2px solid black;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    /* border: 1px solid green; */
    font-size: 40px;
    font-weight: 800;
    margin-left: 10px;
}

.navbar-functions {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-search {
    border: 2px solid #222222;
    border-radius: 20px;
    padding: 5px;
    /* width: 60px; */
    height: 25px;
    display: flex;
    align-items: center;
}

.navbar-search img {
    height: 100%;
}

.navbar-search input {
    outline: none;
}

.navbar-notification {
    /* border: 1px solid blue; */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-notification img {
    height: 50%;
    border-radius: 50%;
}

.navbar-user {
    /* border: 1px solid green; */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-user img {
    height: 70%;
    border-radius: 50%;
}